<!DOCTYPE HTML>

<html>
	<head>
		<title>Calculation Test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="../css/style.css" />
		<script type="application/javascript" src="../front-js/jquery-2.1.3.min.js"></script>
	</head>
	
	<body>
		<h3>Please, log in to the system</h3>
		
		<div id="login_div">
			<span class="invit">Please enter your personal data:</span>
			<form id="login_form" method="post">
				<span>Your login</span><br />
				<input type="text" required id="login" name="login" /><br />
				<br />
				<span>Your name</span><br />
				<input type="text" required id="name" name="name" /><br />
				<br />
				<span>Your surname</span><br />
				<input type="" required id="surname" name="surname" /><br />
				<br />
				<button name="admin_add_equestion" class="btn btn-primary">Login</button>
			</form>
			<span id="login_message"></span>
		</div>
	
	<script type="application/javascript" src="../front-js/login-requests.js"></script>	
	</body>
	
</html>